.todo-list {
  /*get rif of the bullets*/
  list-style: none;

  /*get rid of the margin*/
  margin: 0;

  /*get rid of the padding*/
  padding: 0;

  /**/
  width: 100%;

  /*change order in de flex box*/
  order: 0;

  /**/
  display: flex;

  /**/
  flex-direction: column-reverse;
}

.todo-transition-enter {
  height: 0;
}

.todo-transition-enter.todo-transition-enter-active {
  height: 80px;
  transition: height 100ms ease-in;
}
.todo-transition-leave {
  height: 80px;
}
.todo-transition-leave.todo-transition-leave-active {
  height: 0;
  transition: height 100ms ease-in;
}

@media only screen and (min-width: 730px) {
  .todo-list {
    /*change order in de flex box*/
    order: -1;
    flex-direction: column;
  }
}
