.todo-app {
  /*light grey color*/
  background: #ecf0f1;

  /*100% of the parent*/
  width: 100%;

  /*only bottom corners*/
  border-radius: 0 0 4px 4px;

  /*
  0 0 means we are not shifting it to the left or to the right
  spread and blur 2px 1px
  black and with rgba to add opacity at the end rgba(0,0,0,0.1)
  */
  box-shadow: 0 0 2px 3px rgba(0,0,0,0.1);

  /*we do not want it to be 100% */
  max-width: calc(100% - 20px);

  /*to be able to reorder things*/
  display: flex;
  /**/
  flex-direction: column;

  /*align the children*/
  align-items: center;
}

@media only screen and (min-width: 730px) {
  .todo-app {
    /*only top corners*/
    border-radius: 4px 4px 0 0;
  }
}
