.filter {
  /*interactive element, easier to tell with cursor set to pointer*/
  cursor: pointer;
}

/*RegEx like expression to target filter__label*/
[class^="filter__label"] {
  /*so that we can position their children absolutely relative to each individual filter*/
  position: relative;

  /*not really necessary, but it will work*/
  display: inline-block;

  /*a little bit of room for icons on the side of each filter*/
  padding-left: 16px;

  /*set the color to differentiate them from the actual title*/
  color: rgba(236,240,241,0.3);
}

/*
a bit of higer contract helps cummunicate when hovered over them
that these are interactive
*/
[class^="filter__label"]:hover {
  color: #ccc;
}

/*
 sibling selector, when radio is checked to change the actual filter label,
 color will be set to full white
 which will provide lots of contrast
 */
.filter__radio:checked + [class^="filter__label"] {
  color: #fff;
}

/*
all of the filter label will have one circle except 'all'
which is will have two circles so there will be an css pseudo element after on that one
*/
[class^="filter__label"]::before,
.filter__label--all::after {
  content: '';

  /*position them relative to the parent*/
  position: absolute;
  top: 5px;
  left: 0;
  background: #647380;

  /*so that they can have a width and a height*/
  display: block;

  /*shapes of the icons*/
  /*circle with 10px high 10 px wide with 5px border radius */
  width: 10px;
  height: 10px;
  border-radius: 5px;

  /*give some seperation and pop off from the background a little bit*/
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}

.filter__radio {
  /*
   remove it from the layout flow so the rest of the elements
   will act like they are not there
  */
  position: absolute;

  /*make it invisible*/
  opacity: 0;
}

/*label all needs a little bit of space for its icon*/
.filter__label--all {
  padding-left: 21px;
}

/*shift the after a few more pixels to be able to see it*/
.filter__label--all::after {
  left: 5px;
}

.filter__radio:checked + .filter__label--all::before {
  background: #af544f;
}
.filter__radio:checked + .filter__label--all::after {
  background: #16a085;
}

.filter__radio:checked + .filter__label--active::before {
  background: #af544f;
}

.filter__radio:checked + .filter__label--completed::before {
  background: #16a085;
}
